html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #dfe6e9;
    justify-content: center;
    align-items: center;
}

.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form input{
    padding: 10px;
    margin: 10px;
    width:200px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.container form label{
    font-size: 20px;
    color:#ecf0f1;
}

.container form label a{
    color:#00cec9;
}

.container form button{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    width:100px;
    padding: 10px;
    margin: 10px;
}

.container form button:hover{
    background-color: #2f3640;
    color:white;
    width:120px;
    transition: linear 200ms;
}

.container form input:focus{
    width:225px;
    transition: linear 200ms;
}